.row {
  display: flex;
  justify-content: center;
}

.cell {
  display: flex;
  box-sizing: border-box;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  width: 64px;
  aspect-ratio: 1/1;
  /* height: 60px; */
  font-size: 2vw;
  margin: 2px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.cell.green {
  background-color: rgb(32, 153, 32);
  color: white;
  border: none;
  aspect-ratio: 1/1;
}

.cell.yellow {
  background-color: #b59f3b;
  color: white;
  border: none;
  aspect-ratio: 1/1;
}

.cell.grey {
  background-color: rgb(71, 71, 71);
  color: white;
  border: none;
  aspect-ratio: 1/1;
}

@media (max-width: 1900px) {
  .cell {
    width: 45px;
    font-size: 24px;
    margin: 2px;
  }
}

@media (max-width: 600px) {
  .cell {
    width: 35px;
    font-size: 20px;
    margin: 2px;
  }
}