.row {
  display: flex;
  justify-content: center;
}

.cell {
  display: flex;
  box-sizing: border-box;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  width: 3.5%;
  aspect-ratio: 1/1;
  /* height: 60px; */
  font-size: 2vw;
  margin: 0.08%;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.cell.green {
  background-color: rgb(32, 153, 32);
  color: white;
  border: none;
  width: 3.5%;
  aspect-ratio: 1/1;
  /* height: 64px; */
}

.cell.yellow {
  background-color: #b59f3b;
  color: white;
  border: none;
  width: 3.5%;
  aspect-ratio: 1/1;
  /* height: 64px; */
}

.cell.grey {
  background-color: rgb(71, 71, 71);
  color: white;
  border: none;
  width: 3.5%;
  aspect-ratio: 1/1;
  /* height: 64px; */
}