.row {
  display: flex;
  justify-content: center;
}

.cell {
  display: flex;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  width: 60px;
  height: 60px;
  font-size: 30px;
  margin: 2px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.cell.green {
  background-color: rgb(32, 153, 32);
  color: white;
  border: none;
  width: 64px;
  height: 64px;
}

.cell.yellow {
  background-color: #b59f3b;
  color: white;
  border: none;
  width: 64px;
  height: 64px;
}

.cell.grey {
  background-color: rgb(71, 71, 71);
  color: white;
  border: none;
  width: 64px;
  height: 64px;
}