.wordle-container {
    position: relative;
}

.wordle-message {
    position: absolute;
    background-color: rgb(206, 243, 255);
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    padding: 8px 16px 8px 16px;
    border-style: none;
    border-color: rgb(183, 183, 183);
    border-width: 2px;
    border-radius: 5px;
    font-weight: 500;
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}