.game-card {
  border-style: none;
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 10px 0 10px 0;
  transition: box-shadow 0.15s;
}

.game-card:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.game-icon {
  width: 150px;
}

.game-name {
  font-size: 20px;
}

.game-description {
  max-width: 180px;
  font-size: 15px;
  text-align: center;
}