.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(100, 220, 224);
  height: 60px;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.left-section {
  display: flex;
  flex: 1;
  margin-left: 10px;
}

.right-section {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.profile-icon-container:hover,
.settings-icon-container:hover {
  cursor: pointer;
  text-decoration: underline;
}