:root {
  --bg: rgb(247, 247, 247);
  --text: #111111;

  --nav-bg: rgb(168, 204, 228);
  --nav-text: #000000;

  --card-bg: rgb(230, 230, 230);
}

[data-theme='dark'] {
  --bg: #0f1115;
  --text: #e6e6e6;

  --nav-bg: #1a2a35;
  --nav-text: #ffffff;

  --card-bg: #2d3341;
}

body {
  font-family: Arial;
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  min-height: 100vh;
}

a {
  color: inherit;
}